#root {
  margin: 0;
  box-sizing: border-box;
  @apply font-jetbrains;
}

@keyframes view {
}

.view {
  display: flex;
}

.block {
  width: 500px;
  display: flex;
  background-color: aqua;
  height: 40vh;
}

/* From Uiverse.io by Spacious74 */
button {
  font-size: 1.4em;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}

.container2 {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  border-radius: 0.9em;
  transition: all 0.4s ease;
}

.container2::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -10;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.container2:hover::before {
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  filter: blur(1.2em);
}

.container2:active::before {
  filter: blur(0.2em);
}

/* From Uiverse.io by AqFox */
.spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: rgba(0, 77, 255, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

.anima:hover .tra {
  /* transform: translateX(10px); */
  transition: all;
  transition-duration: 1000ms;
  animation: linkAnimation 3s ease-in-out infinite;
}

@keyframes linkAnimation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
    /* Move down 10px */
  }

  100% {
    transform: translateX(0);
    /* Return to original position */
  }
}

.flow {
  transition: all;
  transition-duration: 110ms;
  animation: flowanima 10s ease-in-out infinite;
}

@keyframes flowanima {
  0% {
    transform: translateY(-5px);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateY(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

.flow1 {
  animation-delay: 200ms;
  animation: flowanima1 10s ease-in-out infinite;
}

@keyframes flowanima1 {
  0% {
    transform: translateY(5px);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateY(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateY(5px);
  }
}
